@(success: Boolean,
	name: String,
	adultForm: Form[model.Adult],
	workclassList: Array[String],
	educationList: Array[String],
	maritalList: Array[String],
	occupationList: Array[String],
	relationshipList: Array[String],
	raceList: Array[String],
	sexList: Array[String],
	nativeCountryList: Array[String]
	)

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Hello classifier!</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")">
    </head>
    <body>
    	<div class="container">
	    	<div class="well">
		   		@if(success) {
	   				<div class="lead">
		   				Classifier @name is now ready!
		   			</div>
		   			<div class="form-group">
						<a class="btn btn-primary btn-success" href="/evaluate">Evaluate on test set</a>
						<a class="btn btn-primary btn-danger" href="/cross-validate">Cross-validation</a>
						<a class="btn btn-primary pull-right" href="/">Back to home</a>
		   			</div>
	   			} else {
	   				<div class="lead text-danger">
		   				Error while building classifier: @name
	   				</div>
		   		}
		   		
	    	</div>
    	</div>
		@if(success) {
			<div class="container">
		       	<div class="well">
		       		<div class="lead">Describe an individual to classify:</div>
		       		
		       		@if(flash.containsKey("success")) {
				    <p id="success-message" class="text-success">
				    	<b>Estimated yearly income: @flash.get("success")</b>
				    </p>
				    }
				    
				    @if(flash.containsKey("error")) {
				    <p id="error-message" class="text-danger">
				      	<b>@flash.get("error")</b>
				  	</p>
				  	}
		       		
					@helper.form(action = routes.ClassifierController.classify(), 'class -> "form-horizontal") {
						@helper.inputText(adultForm("age"), 'class -> "form-control")
						@helper.select(field=adultForm("workclass"), options=workclassList.map(t => t -> t), 'class -> "form-control")
						@helper.inputText(adultForm("fnlwgt"), '_label -> "final weight", 'class -> "form-control")
						@helper.select(field=adultForm("education"), options=educationList.map(t => t -> t), 'class -> "form-control")
						@helper.inputText(adultForm("educationNum"), '_label -> "education number", 'class -> "form-control")
						@helper.select(field=adultForm("maritalStatus"), options=maritalList.map(t => t -> t), '_label -> "marital status", 'class -> "form-control")
						@helper.select(field=adultForm("occupation"), options=occupationList.map(t => t -> t), 'class -> "form-control")
						@helper.select(field=adultForm("relationship"), options=relationshipList.map(t => t -> t), 'class -> "form-control")
						@helper.select(field=adultForm("race"), options=raceList.map(t => t -> t), 'class -> "form-control")
						@helper.select(adultForm("sex"), options=sexList.map(t => t -> t), 'class -> "form-control")
						@helper.inputText(adultForm("capitalGain"), '_label -> "capital gain", 'class -> "form-control")
						@helper.inputText(adultForm("capitalLoss"), '_label -> "capital loss", 'class -> "form-control")
						@helper.inputText(adultForm("hoursPerWeek"), '_label -> "hours per week", 'class -> "form-control")
						@helper.select(field=adultForm("nativeCountry"), options=nativeCountryList.map(t => t -> t), '_label -> "native country", 'class -> "form-control")
						<div class="form-group">
						    <div class="col-sm-10">
						      <button id="submit" type="submit" value="Submit" class="btn btn-primary">Classify</button>
						    </div>
						  </div>
					}
			  		
				</div>
			</div>
		}
		
	@flash.clear()		
    </body>
</html>